@model Karkabulary.Models.Countdown.Countdown

<div>
    <p class="heading">@Model.Title</p>
    <p class="title">
        <span>@(Model.Days)D </span>
        <span>@(Model.Hours)H </span>
        <span>@(Model.Minutes)M</span>
    </p>
</div>
