<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Karkabulary</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <style>
        body{
            font-size: 1.5em;
        }

        h1.title{
            font-size: 4em;
        }

        .definition{
            margin-bottom: 2em;
        }
    </style>
</head>
<body>
<section class="section">
    <div class="container">
        <div class="level">
            <div class="level-item has-text-centered">
                <div>
                    <p>
                        <h1 class="title">Karkabulary</h1>
                    </p>
                    <p class="heading">
                        Your guide to talking with Andrew
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="definition" th:each="definition : ${definitions}">
            <p>
                <strong>&ldquo;<span th:text="${definition.getTerm()}" />&rdquo;</strong>
            </p>
            <p th:text="${definition.getDescription()}">
        </div>
    </div>
</section>
</body>
</html>